<div id="botnets" class="col-content-box elevation-2 col-lg-12">

    <h4 class="botnets-header">Botnets</h4>
    <button type="button" class="btn btn-sm btn-success botnet-create">
        Create Botnet
    </button>
    <hr>

    <table id="botnetTable" class="table data-table">
        <thead>
        <tr>
            <th>Name</th>
            <th># of Bots</th>
            <th>Time Remaining</th>
            <th>Power</th>
            <th>Job</th>
            <th>Profit</th>
            <th></th>
        </tr>
        </thead>
        <tbody id="botnetList">

        </tbody>
    </table>

</div>