<div id="botnet" class="col-content-box elevation-2 col-lg-12">

    <h4>Botnet</h4>
    <hr>

    <table id="botTable" class="table data-table">
        <thead>
        <tr>
            <th>IP</th>
            <th>Password</th>
            <th>Spam</th>
            <th>Warez</th>
            <th>Miner</th>
            <th>DDOS</th>
            <th>Run Time</th>
            <th>Profit to Collect</th>
            <th></th>
        </tr>
        </thead>
        <tbody id="botList">

        </tbody>
    </table>

</div>