<tr>
    <td></td>
    <td><%- BH.sharedHelpers.fileHelpers.getFileName(model.attributes) %></td>
    <td><%- BH.sharedHelpers.fileHelpers.getFiletypeName(model.attributes) %></td>
    <td><%- model.get('fileDef').level %></td>
    <td><%- model.get('fileDef').size + 'Mb' %></td>
    <td class="text-center">
        <% if(!model.get('isInstalled') || !BH.sharedHelpers.fileHelpers.isVirus(model.get('fileDef'))) { %>
        <div class="btn-group">
            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
                Action <span class="caret"></span>
            </button>
            <ul class="dropdown-menu dropdown-menu-right">
                <% if(canDownloadFiles && fileLocation === 'internal'){ %>
                <li><a href="javascript:void(0)" class="file-download">Download</a></li>
                <% } else { %>
                <% if(!model.get('installed') && fileLocation === 'internal') { %>
                <li><a href="javascript:void(0)" class="file-copy-external">Copy to external HDD</a></li>
                <li><a href="javascript:void(0)" class="file-move-external">Move to external HDD</a></li>
                <% } if(!model.get('installed') && fileLocation === 'external') { %>
                <li><a href="javascript:void(0)" class="file-copy-internal">Copy to internal HDD</a></li>
                <li><a href="javascript:void(0)" class="file-move-internal">Move to internal HDD</a></li>
                <% } %>
                <% } %>
                <% if(!model.get('isLocked')) { %>
                <% if(fileLocation === 'internal' && BH.sharedHelpers.fileHelpers.canRun(model.get('fileDef'))){ %>
                <li><a href="javascript:void(0)" class="file-run">Run</a></li>
                <% } %>
                <% if(fileLocation === 'internal' && !model.get('isInstalled') && BH.sharedHelpers.fileHelpers.isVirus(model.get('fileDef'))) { %>
                <li><a href="javascript:void(0)" class="file-install">Install</a></li>
                <% } %>
                <li><a href="javascript:void(0)" class="file-delete">Delete</a></li>
                <% } %>
            </ul>
        </div>
        <% } %>
    </td>
</tr>