<tr>
    <td></td>
    <td><%- BH.sharedHelpers.fileHelpers.getFileName(model.attributes) %></td>
    <td><%- BH.sharedHelpers.fileHelpers.getFiletypeName(model.attributes) %></td>
    <td><%- model.get('fileDef').level %></td>
    <td><%- model.get('fileDef').size %></td>
    <td class="text-center">
        <% if(!model.get('isInstalled') || !BH.sharedHelpers.fileHelpers.isVirus(model.get('fileDef'))) { %>
        <div class="btn-group">
            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
                Action <span class="caret"></span>
            </button>
            <ul class="dropdown-menu dropdown-menu-right">
                <% if(canDownloadFiles){ %>
                <li><a href="#" class="file-download">Download</a></li>
                <% } else { %>
                <% if(BH.sharedHelpers.fileHelpers.canRun(model.get('fileDef'))){ %>
                <li><a href="#" class="file-run">Run</a></li>
                <% } %>
                <% } %>
                <% if(!model.get('isLocked')) { %>
                <% if(!model.get('isInstalled') && BH.sharedHelpers.fileHelpers.isVirus(model.get('fileDef'))) { %>
                <li><a href="#" class="file-install">Install</a></li>
                <% } %>
                <li><a href="#" class="file-delete">Delete</a></li>
                <% } %>
            </ul>
        </div>
        <% } %>
    </td>
</tr>