<div class="row">
    <div id="machineInfo" class="col-sm-6 col-lg-6">

    </div>
    <div id="machineLog" class="col-sm-6 col-lg-6">

    </div>
    <div id="internalFiles" class="col-sm-6 col-lg-6">

    </div>
    <div id="externalFiles" class="col-sm-6 col-lg-6">

    </div>
    <div id="processes" class="col-sm-12 col-lg-12">

    </div>
</div>