<div class="row">
    <div id="machineInfo" class="col-sm-6 col-lg-6">

    </div>
    <div id="machineLog" class="col-sm-6 col-lg-6">

    </div>
</div>
<div class="row">
    <div id="files" class="col-sm-6 col-lg-6">

    </div>
    <div id="processes" class="col-sm-6 col-lg-6">

    </div>
</div>