<div class="modal-dialog">

    <!-- Modal content-->
    <div id="hddUpgradeRender" class="modal-content">

        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Upgrade Hard Drive</h4>
            </div>
            <div id="hddUpgradeContainer" class="modal-body">
                <div class="table-responsive">
                    <table id="hddUpgradeTable" class="table data-table">
                        <thead>
                        <tr>
                            <th>Size (gb)</th>
                            <th>Cost</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <% for(var i = 0 ; i < hdds.models.length ; i++){ %>
                        <tr>
                            <td><%- hdds.models[i].get('size') %></td>
                            <td><%- BH.sharedHelpers.hddHelpers.getHDDCostDisplay(hdds.models[i].attributes) %></td>
                            <td class="text-center">
                                <% if(hdds.models[i].attributes.size < model.get('machine').hdd.size){ %>
                                <span class="text-warning text-owned">Downgrade</span>
                                <% } else if(hdds.models[i].get('_id') === model.get('machine').hdd._id){ %>
                                <span class="text-info text-owned">Owned</span>
                                <% } else { %>
                                <button type="button" class="btn btn-success buyButton"
                                        amount="<%- BH.sharedHelpers.hddHelpers.getHDDCost(hdds.models[i].attributes) %>"
                                        _id="<%- hdds.models[i].get('_id') %>">
                                    Buy
                                </button>
                                <% } %>
                            </td>
                        </tr>
                        <% } %>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>

</div>