<div id="processesInner" class="col-content-box elevation-2">

    <h4>Processes</h4>
    <hr>

    <table id="processTable" class="table data-table">
        <thead>
        <tr>
            <th>Process</th>
            <th>Progress</th>
            <th></th>
        </tr>
        </thead>
        <tbody id="processList">

        </tbody>
    </table>

</div>