$font-stack: Helvetica, sans-serif;
$primary-color: #5e5e5e;
$primary-color-highlight: #828282;
$accent-color: #5C6BC0;
$accent-color-highlight: #3949AB;
$primary-color-text: #555;
$primary-background: #cbcbcb;
$secondary-inner-background: #f1f1f1;
$primary-error-color: #F44336;
$primary-color-button: $accent-color;
$primary-color-button-border: $accent-color-highlight;
$primary-color-button-hover: $accent-color-highlight;
$primary-color-button-border-hover: #303F9F;
$elevation-dpi: 96/160;

.elevation-bottom-1 {
  $shadow2: 0 3px*$elevation-dpi 1px*$elevation-dpi rgba(0, 0, 0, 0.24);
  filter: drop-shadow($shadow2);
}

.elevation-bottom-2 {
  $shadow2: 0 6px*$elevation-dpi 3px*$elevation-dpi rgba(0, 0, 0, 0.23);
  filter: drop-shadow($shadow2);
}

.elevation-bottom-3 {
  $shadow2: 0 6px*$elevation-dpi 3px*$elevation-dpi rgba(0, 0, 0, 0.23);
  filter: drop-shadow($shadow2);
}

.elevation-bottom-4 {
  $shadow2: 0 10px*$elevation-dpi 5px*$elevation-dpi rgba(black, 0.22);
  filter: drop-shadow($shadow2);
}

.elevation-bottom-5 {
  $shadow2: 0 15px*$elevation-dpi 6px*$elevation-dpi rgba(0, 0, 0, 0.22);
  filter: drop-shadow($shadow2);
}

.elevation-1 {
  $shadow1: 0 3px*$elevation-dpi 1.5px*$elevation-dpi rgba(0, 0, 0, 0.12);
  $shadow2: 0 3px*$elevation-dpi 1px*$elevation-dpi rgba(0, 0, 0, 0.24);
  filter: drop-shadow($shadow1) drop-shadow($shadow2);
}

.elevation-2 {
  $shadow1: 0 3px*$elevation-dpi 5px*$elevation-dpi rgba(0, 0, 0, 0.17);
  $shadow2: 0 6px*$elevation-dpi 3px*$elevation-dpi rgba(0, 0, 0, 0.23);
  filter: drop-shadow($shadow1) drop-shadow($shadow2);
}

.elevation-3 {
  $shadow1: 0 10px*$elevation-dpi 10px*$elevation-dpi rgba(0, 0, 0, 0.19);
  $shadow2: 0 6px*$elevation-dpi 3px*$elevation-dpi rgba(0, 0, 0, 0.23);
  filter: drop-shadow($shadow1) drop-shadow($shadow2);
}

.elevation-4 {
  $shadow1: 0 14px*$elevation-dpi 14px*$elevation-dpi rgba(black, 0.25);
  $shadow2: 0 10px*$elevation-dpi 5px*$elevation-dpi rgba(black, 0.22);
  filter: drop-shadow($shadow1) drop-shadow($shadow2);
}

.elevation-5 {
  $shadow1: 0 19px*$elevation-dpi 19px*$elevation-dpi rgba(0, 0, 0, 0.30);
  $shadow2: 0 15px*$elevation-dpi 6px*$elevation-dpi rgba(0, 0, 0, 0.22);
  filter: drop-shadow($shadow1) drop-shadow($shadow2);
}

//Modal Styles
.modal-header {
  font-size: 18px;
}

//Nav Header
$bgDefault: $primary-color;
$bgHighlight: $primary-color-highlight;
$colDefault: #FFF;
$colHighlight: #EEE;
.navbar-default {
  background-color: $bgDefault;
  border-color: $bgHighlight;
  border-radius: 0;
  .navbar-brand {
    color: $colDefault;
    &:hover, &:focus {
      color: $colHighlight;
    }
  }

  .navbar-text {
    color: $colDefault;
  }

  .navbar-nav {
    > li {
      > a {
        color: $colDefault;
        font-size: 15px;
        &:hover, &:focus {
          color: $colHighlight;
        }
      }
    }
    > .active {
      > a, > a:hover, > a:focus {
        color: $colHighlight;
        background-color: $bgHighlight;
      }
    }
    > .open {
      > a, > a:hover, > a:focus {
        color: $colHighlight;
        background-color: $bgHighlight;
      }
    }
  }

  .navbar-toggle {
    border-color: $bgHighlight;
    &:hover, &:focus {
      background-color: $bgHighlight;
    }
    .icon-bar {
      background-color: $colDefault;
    }
  }

  .navbar-collapse,
  .navbar-form {
    border-color: $colDefault;
  }

  .navbar-link {
    color: $colDefault;
    &:hover {
      color: $colHighlight;
    }
  }
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu {
    > li > a {
      color: $colDefault;
      &:hover, &:focus {
        color: $colHighlight;
      }
    }
    > .active {
      > a, > a:hover, > a:focus {
        color: $colHighlight;
        background-color: $bgHighlight;
      }
    }
  }
}

//Footer Styles
.site-footer {
  margin-top: 40px;
}

//Global Styles
body {
  font: 14px $font-stack;
  background-color: $primary-background !important;
  font-family: 'Roboto', sans-serif !important;
  color: $primary-color-text;
}

.alert {
  margin: 10px 0;
}

.btn-custom-blue, .btn-custom-blue:focus {
  &:focus {
    outline: none;
    background-color: $primary-color-button;
    border-color: $primary-color-button-border;
    color: white;
  }
  &:hover {
    background-color: $primary-color-button-hover;
    border-color: $primary-color-button-border-hover;
    color: $primary-color-highlight;
  }
  background-color: $primary-color-button;
  border-color: $primary-color-button-border;
  outline: none;
  color: white;
}

.gray-text {
  color: #a1a1a1
}

.bold {
  font-weight: bold !important;
}

.col-content-box {
  margin-top: 15px;
  margin-bottom: 15px;
  background-color: #FFF;
  padding: 0 10px;
  > h2, h4 {
    padding: 20px 0 10px;
    margin: 0;
  }
  > .row {
    min-height: 40px;
    line-height: 40px;
  }
  > hr {
    padding: 5px 0;
    margin: 0;
  }
}

.cents-input {

}

//Loading spinner
.glyphicon.spinning {
  animation: spin 1s infinite linear;
  -webkit-animation: spin2 1s infinite linear;
}

@keyframes spin {
  from {
    transform: scale(1) rotate(0deg);
  }
  to {
    transform: scale(1) rotate(360deg);
  }
}

@-webkit-keyframes spin2 {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}


//Login Container Styles
.login-container {
  margin-top: 60px;
  padding: 25px 25px 15px;
  > h2 {
    padding: 0 0 25px;
    color: $primary-color;
  }
  > hr {
    padding: 0;
    margin: 15px 0 0;
  }
  > .login-footer {
    padding: 15px 0 0;
    margin: 0;
    text-align: center;
  }
}

//Local Machine Styles
#machineInfo,
#machineLog {
  #toggleMachinePassword {
    margin-left: 5px;
  }
  #machineInfoInner,
  #machineLogInner {
    height: 285px;
    .log-text {
      resize: none;
      width: 113%;
      height: 212px;
      margin: 2px 0;
      font-size: 12px;
    }
    button {
      width: 80px;
    }
  }
}

//File styles
#filesInner {
  h4 {
    display: inline-block;
  }
  .file-upload {
    float: right;
    margin-top: 8px;
  }
}

//Progress Styles
#processesInner {
  .processes-auto-finish-label {
    float: right;
    font-size: 16px;
    margin-top: 18px;
  }
  h4 {
    display: inline-block;
  }
  .progress-col {
    text-align: center;
  }
}

.process-progress {
  margin: 0;
}

.process-progress, .hdd-progress {
  .progress-bar {
    color: #000
  }
  .process-center-text {
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    width: 100%;
    position: absolute;
    color: #000;
    margin-top: 4px;
  }
  position: relative;
}

//Datatable styles
.data-table > tbody > tr {
  height: 50px;
  > td {
    vertical-align: middle;
  }
}

//Internet Styles
#internetBrowser {
  #internetBrowserWindow {
    height: 100%;
  }
  padding: 0;
  #internetBrowserHeader {
    height: 55px;
    #internetSearchContainer {
      background: $primary-color-button;
      padding: 10px;
      .internet-search-loading {
        position: absolute;
        top: 20px;
        margin-left: -40px;
      }
      #internetSearchText {
        display: inline-block;
        margin-right: 5px;
      }
      .internet-button-container {
        display: inline-block;
        button {
          display: inline-block;
          border: none;
        }
      }
      .button-container.internet-nav-button-container {

      }
      .button-container.internet-search-button-container {
        float: right;
      }
    }
  }
  #internetBrowserDOM {
    .internet-dom {
      overflow: auto;
      height: 100%;
    }
    .internet-admin-container {
      background: $secondary-inner-background;
      min-height: 100%;
    }
    .navigate-admin-login {
      margin: 10px;
      position: absolute;
      right: 0;
    }
    .internet-browser-error {
      max-width: 400px;
      margin: 22% auto 0;
      .panel-heading {
        font-size: 26px;
      }
      .panel-body {
        font-size: 16px;
      }
    }
    .bank-account-container, .internet-browser-login-container {
      background: $secondary-inner-background;
    }
    .white-centered-box {
      background: #FFF;
      margin-top: 12%;
      padding: 20px;
      hr {
        border-top: 1px solid #CCC;
        margin-top: 15px;
        margin-bottom: 15px;
      }
      .internet-browser-login-inner {
        margin-top: 20px;
      }
      h3 {
        margin: 0;
      }
    }
  }
}

.bot-container {
  width: 225px;
  background: $secondary-inner-background;
  padding: 10px;
  margin: 20px;
  display: inline-block;
  position: relative;
}

//Bank Styles
.bank-account-container {
  #bankAccountLogoutButton {
    position: absolute;
    right: 0;
    top: 0;
    margin: 10px 10px 0;
  }
  .bank-account-balance {
    font-size: 35px;
    text-align: center;
    margin-top: 10px;
  }
  .transfer-funds-container {
    .transfer-amount-input-group {
      .help-block {
        margin-left: 15px;
      }
      .transfer-amount-form-group {
        margin-bottom: 5px;
      }
    }
    h4 {
      padding: 0;
      margin-bottom: 10px;
    }
  }
}

.modal-bank-account-select {
  width: 80%;
  .modal-content {
    height: 100%;
    .modal-body {
      .payment-total-container {
        text-align: center;
        font-size: 24px;
        margin-bottom: 10px;
      }
      .modal-body-inner {
        overflow: auto;
        text-align: center;
      }
    }
  }
}

.user-bank-account-container {
  width: 225px;
  background: $secondary-inner-background;
  padding: 10px;
  margin: 20px;
  display: inline-block;
  position: relative;
  .delete-manage-bank-account {
    position: absolute;
    top: 0;
    right: 0;
    margin: 8px 8px 0;
  }
  .bank-account-balance {
    font-size: 24px;
    text-align: center;
    margin: 20px 5px;
  }
  h4, h5 {
    margin: 0
  }
  .bank-name {
    margin: 10px 0 0;
  }
}

#bankAccountManagementContainer {
  text-align: center;
}

//Utility
.clr {
  clear: both;
}