<div class="modal-dialog">
    <div class="modal-content">
        <% if(header && header.length > 0) { %>
        <div class="modal-header">
            <%= header %>
        </div>
        <% } %>
        <% if(body && body.length > 0) { %>
        <div class="modal-body">
            <%= body %>
        </div>
        <% } %>
        <div class="modal-footer">
            <button type="button" class="btn btn-default modal-button-cancel" data-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-danger modal-button-delete" data-dismiss="modal">Delete</button>
        </div>
    </div>
</div>