<div class="modal-dialog">
    <div class="modal-content">
        <% if(type && type.length > 0) { %>

        <% if(type == 'newBankAccount' && extras.account) { %>

        <div class="modal-header">
            Bank Account Created
        </div>
        <div class="modal-body">
            <div class="form-group">
                <label>Account Number:</label>
                <span><%= extras.account.get('account').accountNumber %></span>
            </div>
            <div>
                <label>Password:</label>
                <span><%= extras.account.get('account').password %></span>
            </div>
        </div>

        <% } %>

        <% } else { %>
        <% if(header && header.length > 0) { %>

        <div class="modal-header">
            <%= header %>
        </div>

        <% } %>
        <% if(body && body.length > 0) { %>

        <div class="modal-body">
            <%= body %>
        </div>

        <% } %>
        <% } %>
        <div class="modal-footer">

            <% if(type == 'newBankAccount' && extras.account) { %>

            <button type="button" class="btn btn-success new-account-login-button" data-dismiss="modal">Login</button>

            <% } %>

            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
    </div>
</div>