<!-- replace -1 with:  user.firewallBypass.level  -->
<div id="internetContent" class="internet-dom">
    <% if(model.get('machine')._id) { %>
    <% if(path == '/login') { %>
    <div class="internet-browser-login-container internet-dom">
        <div class="internet-browser-login elevation-2">
            <h4>Enter the admin password for <%= model.get('machine').ip %></h4>
            <% if(model.get('isAuthenticated') === false) { %>

            <div class="alert alert-danger">Incorrect password!</div>

            <% } %>
            <div class="internet-browser-login-inner">
                <div class="form-group">
                    <label>Password</label>
                    <input type="password" autocomplete="new-password" class="form-control admin-login-password"
                           name="password">
                </div>
                <div class="button-container">
                    <button type="button" class="btn btn-success btn-block admin-login-button">Login</button>
                    <hr/>
                    <button type="button" class="btn btn-danger btn-block crack-password">Crack Password</button>
                </div>
            </div>
        </div>
    </div>
    <% } else if(path == '/admin') { %>
    <div class="container internet-admin-container col-sm-12 col-lg-12">


    </div>
    <div class="clr"></div>
    <% } else { %>

    <div>
        <button type="button" class="navigate-admin-login btn btn-success">Admin Login</button>
        <div class="clr"></div>
    </div>

    <% if(path && path.replace('/', '').length > 0) { %>
    <div class=" internet-browser-error elevation-2">
        <div>
            <h2>Under construction - this will show custom paths eventually</h2>
        </div>
    </div>

    <% } else { %>

    <div class="internet-browser-user-default">
        user default
    </div>

    <% } %>
    <% } %>
    <% } else { %>

    <div class="panel panel-danger internet-browser-error">
        <div class="panel-heading bold">Error 404</div>
        <div class="panel-body">No resource exists at <%= search %></div>
    </div>

    <% } %>
</div>