<!doctype html>
<html>
<head>
    <title>About Blakhat.io</title>
    <% include ../partials/headerRefs_noauth.ejs %>
</head>
<body>
<header>
    <% include ../partials/header_noauth.ejs %>
</header>

<div class="jumbotron" style="text-align:center;">
    <h1>Under Construction</h1>
</div>

<footer>
    <% include ../partials/footer.ejs %>
</footer>
</body>
</html>