<!doctype html>
<html>
<head>
    <title>Blakhat.io</title>

    <% include ../partials/refs.ejs %>

</head>
<body>

<header>
    <% include ../partials/header.ejs %>
</header>

<%- include(page) %>

<footer>
    <% include ../partials/footer.ejs %>
</footer>

</body>
</html>